.Form{
    max-width: 1110px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.Page{  
    margin-top: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
}
.Ourpages{
    background-color: powderblue;
    width: 100%;

}
.Imagine{
    width: 100px;
}