.Clock {
    padding: 25px;
    height: 100%;
}

.Clock-title {
    font-weight: bold;
    font-size: 32px;
}

.Clock-container {
    display: flex;
    flex-flow: row wrap;
}

.Clock-time {
    padding: 5px 0px;
    margin-right: 17px;
    width: 56px;
    text-align: center;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    font-size: 23px;
    font-weight: bold;
}

.Clock-button {
    margin-top: 25px;
    font-size: 20px;
    padding: 10px 25px;
}

.Clock-price {
    width: 100%;
    clear: both;
    font-size: 18px;
    background: rgb(240, 240, 240, 0.5);
    padding: 15px 25px;
    text-align: left;
}